In [1]:
import pandas as pd

In [2]:
labelMap = pd.DataFrame()
listDataType = []

stringType = ""
stringNumber = ""

for type in range(0,4):
    if type == 0:
        stringType = "H"
    elif type == 1:
        stringType = "S"
    elif type == 2:
        stringType = "D"
    elif type == 3:
        stringType = "C"
    for number in range(0,13):
        if number == 0:
            stringNumber = "A"
        elif number > 0 and number < 10:
            stringNumber = str(number + 1)
        elif number == 10:
            stringNumber = "J"
        elif number == 11:
            stringNumber = "Q"
        elif number == 12:
            stringNumber = "K"

        dataKey = stringNumber + stringType
        
        listDataType.append(dataKey)

labelMap = pd.DataFrame(listDataType)
labelMap = labelMap.rename({0: "name:"}, axis="columns")
labelMap["id:"] = labelMap.index + 1
labelMap

   name:  id:
0     AH    1
1     2H    2
2     3H    3
3     4H    4
4     5H    5
5     6H    6
6     7H    7
7     8H    8
8     9H    9
9    10H   10
10    JH   11
11    QH   12
12    KH   13
13    AS   14
14    2S   15
15    3S   16
16    4S   17
17    5S   18
18    6S   19
19    7S   20
20    8S   21
21    9S   22
22   10S   23
23    JS   24
24    QS   25
25    KS   26
26    AD   27
27    2D   28
28    3D   29
29    4D   30
30    5D   31
31    6D   32
32    7D   33
33    8D   34
34    9D   35
35   10D   36
36    JD   37
37    QD   38
38    KD   39
39    AC   40
40    2C   41
41    3C   42
42    4C   43
43    5C   44
44    6C   45
45    7C   46
46    8C   47
47    9C   48
48   10C   49
49    JC   50
50    QC   51
51    KC   52

In [3]:
labelMap.to_json('label_map.pbtxt', orient= "records")